body {
  background: black;
  color: red;
  font-family: Arial;
  text-align: center;
}

.card {
  background: #111;
  border: 1px solid red;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

input {
  width: 80%;
  padding: 8px;
  margin: 5px;
  background: black;
  border: 1px solid red;
  color: red;
}

button {
  background: red;
  color: black;
  padding: 12px;
  border: none;
  font-weight: bold;
  margin-top: 10px;
}

canvas {
  max-width: 90%;
  margin-top: 20px;
}